body {
  font-family: "Nunito sans";
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "header header header header"
    "aside aside main main"
    "aside aside main main"
    "footer footer footer footer";
}

main {
  display: grid;
  border: 1px solid black;
  grid-area: main;
}
aside {
  display: grid;
  border: 1px solid black;
  grid-area: aside;
}
header {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 1fr 1fr;
  grid-area: header;
}

nav {
  display: grid;
  border: 1px solid red;
}

footer {
  grid-area: footer;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid blue;
}

h1 {
  border: 1px solid blue;
}

p {
  border: 1px solid blue;
}
